/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
    
}

/* NEWS */
.news__tabs {
    display: flex;
    justify-content: center;
}
.news__tabs .news__tab {
    margin: 20px;
}
.news__tabs .news__tab button {
    border: none;
    background-color: transparent;
    color: #fff;
    transition: all .7s;
}
.news__tabs .news__tab button:hover {
    color: #00adef;
}

/* START TOPIC */
.container-outner {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}
.background-footer {
  width: calc(100% - 60px);
  margin: auto;
}

.topic {
  background-color: #000;
}

.topic__item h2 {
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.14286rem;
}

.topic__item h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
  display: block;
  margin: 30px -1px;
}

.topic__item ul {
  list-style: none;
}

.topic__item a {
  text-decoration: none;
  color: #999;
  font-size: 13px;
  line-height: 22px;
  transition: all 0.25 ease-out;
}

.topic__item a:hover {
  color: #00adef;
}

/* END TOPIC */

/* START CONTACT */
.contact {
  background-color: #000;
}
.contact__content h2 {
  color: #fff;
  font-size: 2.2rem;
  line-height: 3.14286rem;
}

.contact__content h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
  display: block;
  margin: 30px -1px;
}

.contact__content p {
  font-size: 13px;
  color: #999;
}
.contact__content ul {
  height: 30px;
}
.contact__content li {
  font-size: 1.95rem;
  margin: 10px 16.6666667px;
  width: 45px;
}

.contact__content a {
  color: #999;
  transition: all 0.16s;
}

.contact__content a:hover {
  color: #00adef;
}

.contact__related::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
  display: block;
  margin: 30px -1px;
}

.contact__related-webside img {
  width: 100%;
  height: 2em;
  margin: 28px 0;
}

.contact__related-us::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
  display: block;
  margin: 30px -1px;
}

.contact__related-us p {
  font-size: 13px;
  color: #999;
  padding-bottom: 1rem;
  margin: 0;
}

.contact__related-us a {
  font-size: 13px;
  color: #fff;
  transition: all 0.16s;
}

.contact__related-us a:hover {
  color: #00adef;
}

/* END CONTACT */

/* START FOOTER */
.footer {
  background-color: #000;
  padding-top: 2rem;
}

.footer__item {
  color: #999;
  font-size: 14px;
}

.footer__language {
  padding: 0;
}
.footer__language a {
  color: #00adef;
  text-decoration: none;
}

.footer__language a:after {
  content: "";
  height: 11px;
  width: 1px;
  margin: 0 13px;
  background-color: #00adef;
  display: inline-block;
}

.footer__language span {
  color: #fff;
}


.footer__subnav a {
  color: #636363;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.16s;
}

.footer__subnav a:hover {
  color: #00adef;
}

.footer__subnav-content {
  flex-direction: row-reverse;
 
}

.footer__subnav-left ul {
  padding-left: 15px;
}

.footer__backtotop a {
  font-size: 13px;
  color: #636363;
  text-decoration: none;
  transition: all .16s;
}

.footer__backtotop i {
  font-size: 15px;
  padding-left: 5px;
}

.footer__backtotop a:hover {
  color: #00adef;
}

/* START MODAL */

#legal-modal{
  display: block;
  font-size: 13px;
}

.modal-header {
  border: none;
}
.modal-body {
  color: #000;
  margin-top: 20px;;
  margin: 0 40px;
}

.labal-nav a {
  color: #333;
}
.labal-nav .nav-link.active {
  color: #00adef;
}

.modal-dialog {
  width: 892px; 
  max-width: 90%;
}
.labal-nav ul {
  margin-bottom: 40px;
}
#legal-tab-content {
  color: #333;
}

#legal-tab-content h5 {
  font-size: 1.375rem;
  line-height: 1em;
}
#legal-tab-content p {
  margin-bottom: 1rem;
}



.agree span {
  line-height: 30px;
}

.choose-setting button {
  padding: 15px 31px;
  height: 80px;
}

.checkbox-cookies {
  width: 21px;
height: 21px;
transform: translateY(4px);
margin-right: 15px;
}

.checkbox-info {
  font-size: 14px;
background-color: #999999;
border-radius: 50%;
padding: 5px 10px;
}

.setting-page h5 {
  margin-top: 100px;
}

.setting-page p {
  font-size: 14px;
}

.technical-require p {
  padding: 20px 0;
}

.technical__content {
  padding-left: 40px;
  margin-bottom: 20px;
}

.technical__content::after,
.analysis__content::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  display: block;
  margin: 28px 0 ;
  margin-left: -20px;
}

.analysis p {
  margin: 20px 0;
}

.analysis__content {
  padding-left: 40px;
  margin-bottom: 20px;
}

.marketing p {
  margin: 20px 0;
}

.marketing__content {
  padding-left: 40px;
  margin-bottom: 50px;
}

.modal-body-content__header h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.modal-body-content__header p {
  font-size: 13px;
}

.form-situation .form-check{
  margin-bottom: 30px;
}

.form-group, .form-control, .custom-select {
  margin-bottom: 2rem;
}
/* END FOOTER */

/* START MEDIA */
@media screen and (max-width: 1280px) {
  .contac__item--responsive {
    min-width: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1155.5px) {
  .footer__subnav-content {
    max-width: 75%;
    float: right;
  
}
@media screen and (max-width: 1024px) {
  /* TOPIC */
  .topic__item h2 {
    font-size: 1.85714rem;
    line-height: 2.28571rem;
  }
  .topic__item--responsive {
    min-width: 100%;
    float: left;
  }

  /*CONTACT  */
  .contact__item h2 {
    font-size: 1.85714rem;
    line-height: 2.28571rem;
  }
  /* FOOTER */
  .footer__subnav {
    min-width: 100%;
    float: left;
  }
  .footer__subnav-left {
    min-width: 100%;
    
  }
  .footer__subnav-left ul {
    padding-left: 0;
  }
  /* FOOTER */
  .footer__language {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .footer__subnav {
    max-width: 100%;   
        
  }
  .footer__subnav-content{
    max-width: 100%;
    float: left;
    flex-direction: row;    
  }
  .footer__backtotop {
    min-width: 100%;
    margin-bottom: 30px;
  }
}




/* END MEDIA */